{% extends './base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/startpage/startdesign.css') }}" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}
<div id="particles-js"></div>

<nav>
    <div class="navbar">
        <i class='bx bx-menu'></i>
        <div class="logo">
            <a href="#">
                <img src="static/images/logo.png" alt="Logo BLDNGSolutions" class="logo-image">
                BLDNGSolutions
            </a>
        </div>
        <div class="nav-links">
            <div class="sidebar-logo">
                <span class="logo-name">BLDNGSolutions</span>
                <i class='bx bx-x'></i>
            </div>
            <ul class="links">
                <li><a href="/aboutUs">Nosotros</a></li>
                <li><a href="/contact">Contactenos</a></li>
                <li><a href="/productsList">Productos</a></li>
                <li><a href="#">Login</a>
                    <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                    <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="/loginclient">Soy Cliente</a></li>
                        <li><a href="/loginemp">Soy Empleado</a></li>
                        <li><a href="/loginadm">Administrador</a></li>
                    </ul>
                </li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>

<!-- Swiper Slider -->
<swiper-container class="mySwiper" effect="cards" grab-cursor="true" autoplay="true" data-autoplay="5000" loop>

    <swiper-slide>
        <h4>
            ¡Bienvenido a BLDNGSolutions!<br>
        </h4>
        <p>Plataforma de administración enfocada a PyMEs dedicadas a la venta y renta de maquinaria de
            construcción.
        </p>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para clientes con las herramientas necesarias para realizar pedidos y llevar un seguimiento de los
            mismos
        </p>
        <span class="material-symbols-outlined icon">
            person
        </span>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para empleados de Ventas con herramientas necesarias para procesar pedidos y contactar con
            clientes
        </p>
        <span class="material-symbols-outlined icon">
            storefront
        </span>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para empleados de Almacén con herramientas necesarias para llevar el control sobre las máquinas de
            la empresa
        </p>
        <span class="material-symbols-outlined icon">
            warehouse
        </span>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para empleados de Mantenimiento con herramientas necesarias para llevar el control sobre los
            mantenimientos realizados, así como la programación de los mismos
        </p>
        <span class="material-symbols-outlined icon">
            engineering
        </span>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para empleados de Envíos con herramientas necesarias para hacer llegar el pedido al usuario
            final
        </p>
        <span class="material-symbols-outlined icon">
            local_shipping
        </span>
    </swiper-slide>

    <swiper-slide>
        <p>
            Apartado para administradores con herramientas para realizar todas las tareas de la empresa, llevar control
            sobre empleados y monitorear los resultados financieros de la empresa
        </p>
        <span class="material-symbols-outlined icon">
            admin_panel_settings
        </span>
    </swiper-slide>

</swiper-container>

<style>
    .icon {
        font-size: 150px;
        color: #c46bcf;
    }

    body {
        background-image: url("{{ url_for('static', filename = 'images/backgrounds/background1.png') }}");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<script src="{{ url_for('static', filename='js/startpage/startpage.js') }}"></script>
<script src="{{ url_for('static', filename='js/particlesjs/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/particlesjs/particlesjs-config.json') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}