{% extends './base.html' %}

{% block title %}
Start
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/startdesign.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

<style>
  .logo {
    height: 50px;
    margin-right: 20px;
  }
</style>

{% block body %}
<!-- Creamos la barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="static/images/logo.png" width="35" height="35" alt="Logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Contactenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Acerca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/startProducts">Productos</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/loginclient">Soy Cliente</a>
          <a class="dropdown-item" href="/loginemp">Soy Empleado</a>
          <a class="dropdown-item" href="/loginadm">Soy Administrador</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Creamos el contenido de la página -->
<div class="container">
  <h1>Bienvenido!</h1>
</div>

<!-- Creamos el footer -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">Información de Contacto</span>
  </div>
</footer>

<!-- Agregamos los archivos de JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}