{% extends './base.html' %}

{% block title %}Informacion del pedido{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientuser/clientuser.css') }}">
{% endblock %}

{% block body %}

<a href="{{ url_for('clients.orders') }}" class="btn btn-primary">Atrás</a>

<h1>Información del pedido #{{ id_order }}</h1>

<table class="table1">
    <tr>
        <th>Id de la maquina</th>
        <th>Semanas</th>
        <th>Precio</th>
    </tr>
    {% for order_item in order_items %}
    <tr>
        <td>{{ machine_names[loop.index0] | upper }}</td>

        <td>{{ order_item[1] }}</td>
        <td>{{ order_item[2] }}</td>
    </tr>
    {% endfor %}
</table>

<table class="table1">
    <tr>
        <th>Enviar a:</th>
        <td>{{ client_name }}</td>
    </tr>
    <tr>
        <th>RFC:</th>
        <td>{{ rfc }}</td>
    </tr>
    <tr>
    <th>Número de teléfono:</th>
        <td>{{ phone_number }}</td>
    </tr>
    <tr>
        <th>Dirección de envío:</th>
        <td>{{ delivery_address }}</td>
    </tr>
    <tr>
        <th>Método de pago:</th>
        <td>{{ payment_method }}</td>
    </tr>
    <tr>
        <th>Total del pedido:</th>
        <td>{{ total }}</td>
    </tr>
</table>

{% endblock %}