{% extends './base.html' %}
{% block title%}Pedidos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientuser/clientuser.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}


{% block body %}

<a href="{{ url_for('clients.clientsHome') }}" class="btn btn-primary">Atrás</a>

<h1>Tus pedidos</h1>

<table class="table1">
    <tr>
        <th>No. Pedido</th>
        <th>Fecha del pedido</th>
        <th>Total</th>
        <th>Información completa</th>
        <th>Solicitar cancelación*</th>
    </tr>
    {% for order in orders_data %}
    <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[1] }}</td>
        <td>${{ order[2] }}</td>
        <td><a href="{{ url_for('clients.information', id_order=order[0]) }}"><span class="material-symbols-rounded">
                    info
                </span></a>
        </td>
        <td>
            <form method="POST" action="{{ url_for('clients.cancel_order_request', order_id=order[0]) }}"
                onsubmit="return confirm('¿Estás seguro de que quieres solicitar la cancelación para este pedido?');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btnclr">
                    <span class="material-symbols-rounded">cancel</span>
                </button>
            </form>
        </td>

    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('clients.canceledOrders') }}" class="btn btn-primary">Pedidos cancelados</a>
<p>*al solicitar la cancelacion de un pedido, favor de </p>
<p>esperar a que se acepte la cancelacion. Los pedidos</p>
<p>cancelados se podrán ver presionando el botón</p>
{% endblock %}