{% extends './base.html' %}

{% block title%}Pagos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientuser/payments.css')}}">

{% endblock %}

{% block body %}

<a href="{{ url_for('clients.clientsHome') }}" class="btn">Atras</a>
<h1>Pagos</h1>

<h1>{{current_user.fullname}}, Seleccione el pedido a realizar el pago</h1>

<form>
    <select id="order-select" name="order" autocomplete="off">
        <option value="" disabled selected>Selecciona una orden</option>
        {% for order in orders %}
        <option value="{{ order[0] }}">Orden: {{ order[0] }}, Total: ${{ order[1] }}</option>
        {% endfor %}
    </select>
</form>

<h1 id="selected-order-info">Información de la orden seleccionada: </h1>

<p>Ingresa esta informacion a la hora de hacer el pago.</p>


<div class="container">
    <label for="tipo_pago">Tipo de pago:</label>
    <select id="tipo_pago" name="tipo_pago" autocomplete="off" onchange="mostrarFormulario(this.value)">
        <option value="Selecciona" selected>Seleccione una opción</option>
        <option value="tarjeta">Tarjeta de Débito/Crédito</option>
        <option value="transferencia">Transferencia Bancaria</option>
        <option value="paypal">PayPal</option>
    </select><br><br>

    {# integracion del boton de stripe para realizar pagos #}
    <div id="tarjeta" class="formulario" style="display: none;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <script async src="https://js.stripe.com/v3/buy-button.js"></script>

                <stripe-buy-button buy-button-id="buy_btn_1O12DmB0WRECsvw4Ns053ayM"
                    publishable-key="pk_live_51Ns9uVB0WRECsvw4CEuNX0i64jS8HihjuUXtFXX0UdthG1NRBeafAy80xoZdNct62aG4DPbdKGMq7FXzLWXcPIsn00xM57vaPk"
                    class="stripe-button-container">
                </stripe-buy-button>
            </div>
            <div style="margin: 50px;">
                <h1>Ó</h1>
            </div>
            <div>

                <img src="{{ url_for('static', filename='images/qr_stripe.png') }}" style="width: 160px;">
            </div>
        </div>
    </div>


    <div id="transferencia" class="formulario" style="display: none;">
        <!-- Formulario de Transferencia Bancaria -->
        <label for="banco_destino">Banco de destino:</label>
        <input type="text" id="banco_destino" name="banco_destino" required><br><br>
        <label for="numero_cuenta">Número de cuenta:</label>
        <input type="text" id="numero_cuenta" name="numero_cuenta" required><br><br>
        <label for="nombre_titular">Nombre del titular de la cuenta:</label>
        <input type="text" id="nombre_titular" name="nombre_titular" required><br><br>
        <label for="rut_titular">RFC del titular de la cuenta:</label>
        <input type="text" id="rut_titular" name="rut_titular" required><br><br>
        <button onclick="generarOrdenPago()">Generar Orden de Pago</button>
    </div>

    <div id="paypal" class="formulario" style="display: none;">
        <!-- Formulario de PayPal -->
        <label for="correo_paypal">Correo electrónico de <img
                src="{{ url_for('static', filename = 'images/logos/paypallogo.png') }}" alt="PayPal Logo"
                width="100">:</label>
        <input type="text" id="correo_paypal" name="correo_paypal" required><br><br>
        <button onclick="generarOrdenPago()">Generar Orden de Pago</button>
    </div>


    <div id="orden_pago" style="display: none;">
        <!-- Información de la orden de pago generada -->
        <p>Orden de Pago Generada:</p>
        <p>Banco de destino: <span id="info_banco"></span></p>
        <p>Número de cuenta: <span id="info_cuenta"></span></p>
        <!-- ... Otros detalles de la orden de pago ... -->
    </div>
</div>
<br>
<p>Despues de relizar el pago, favor de guardar como PDF algun comprobante de pago</p>
<p>en donde sea legible el numero de pedido y el monto pagado. Y favor de cargarlo</p>
<p> en la ventana de subida de documentos.</p>

<script src="{{ url_for('static', filename='js/clientuser/payments.js') }}"></script>

<script
    src="https://www.paypal.com/sdk/js?client-id=ATwXrFmndPUWoHzlRO8nWHc8YFSb-VG6mqQzEXfCq3AQokm94kymKZKGYCOMTXWUU5Ce8g4bcKGI_dsF"></script>

<style>
    .stripe-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* Asegúrate de que el contenedor tenga una altura definida para centrar verticalmente si es necesario */
    }
</style>
{% endblock %}