{% extends './base.html' %}

{% block title%}Pagos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientuser/payments.css')}}">
<script
    src="https://www.paypal.com/sdk/js?client-id=AU1AsrvepHaHfWudU_ttLV_7w4OH6ZYDsiveQenlR3Jpuo3Q5zc47oT4hCij1fGaOxjeqSQPTTAuwkuk&currency=MXN"></script>
{% endblock %}

{% block body %}

<a href="{{ url_for('clients.clientsHome') }}" class="btn">Atras</a>
<h1>Pagos</h1>

<h1>{{current_user.fullname}}, Seleccione el pedido a realizar el pago</h1>




<form>
    <select id="order-select" name="order" autocomplete="off" onchange="actualizarCamposPago()">
        <option value="" disabled selected>Selecciona una orden</option>
        {% for order in orders %}
        <option value="{{ order[0] }}" data-amount="{{ order[1] }}">Orden: {{ order[0] }}, Total: ${{ order[1] }}
        </option>
        {% endfor %}
    </select>
</form>

<h2 id="selected-order-info" style="color: lightblue;">Información de la orden seleccionada: </h2>

<div class="container">
    <label for="tipo_pago">Tipo de pago:</label>
    <select id="tipo_pago" name="tipo_pago" autocomplete="off" onchange="mostrarFormulario(this.value)">
        <option value="Selecciona" selected>Seleccione una opción</option>
        <option value="tarjeta">Tarjeta de Débito/Crédito</option>
        <option value="transferencia">Transferencia Bancaria</option>
        <option value="paypal">PayPal</option>
    </select>
    <br><br>


    {# integracion del boton de stripe para realizar pagos #}
    <div id="tarjeta" class="formulario" style="display: none; text-align: center;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <script async src="https://js.stripe.com/v3/buy-button.js">
                </script>

                <stripe-buy-button buy-button-id="buy_btn_1O12DmB0WRECsvw4Ns053ayM"
                    publishable-key="pk_live_51Ns9uVB0WRECsvw4CEuNX0i64jS8HihjuUXtFXX0UdthG1NRBeafAy80xoZdNct62aG4DPbdKGMq7FXzLWXcPIsn00xM57vaPk">
                </stripe-buy-button>
            </div>

            <div style="margin: 50px;">
                <h1>Ó</h1>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/qr_stripe.png') }}" style="width: 160px;">
            </div>
        </div>
        <p>Metodos de pago admitidos</p>
        <img src="{{ url_for('static', filename='images/logos/mastercardlogo.png') }}" width="50px">
        <img src="{{ url_for('static', filename='images/logos/visalogo.png') }}" width="50px">
    </div>


    <form method="POST" action="/generar-orden-de-pago">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div id="transferencia" class="formulario" style="display: none;">
            <!-- Formulario de Transferencia Bancaria -->
            <label for="banco_destino">Banco de destino:</label>
            <input type="text" id="banco_destino" name="banco_destino" value="Nu México" readonly><br><br>
            <label for="numero_cuenta">Número de cuenta (CLABE):</label>
            <input type="text" id="numero_cuenta" name="numero_cuenta" value="638180010133173322" readonly><br><br>
            <label for="nombre_titular">Nombre del titular de la cuenta:</label>
            <input type="text" id="nombre_titular" name="nombre_titular" value="Josue Alvarado Arrezola"
                readonly><br><br>
            <label for="monto">Monto a transferir:</label>
            <input type="text" id="monto" name="monto" readonly><br><br>
            <label for="concepto">Concepto de pago:</label>
            <input type="text" id="concepto" name="concepto" readonly><br><br>
            <button onclick="generarOrdenPago()">Generar Orden de Pago</button>
        </div>

    </form>
    <div id="paypal" class="formulario" style="display: none; text-align: center;">
        <!-- Boton de PayPal -->
        <div id="paypal-button-conteiner" style="display: inline-block;"></div>
    </div>

</div>


<br>
<p>Después de relizar el pago, favor de guardar como PDF algún comprobante de pago</p>
<p>en donde sea legible el número de pedido y el monto pagado. Y favor de cargarlo</p>
<p> en la ventana de subida de documentos.</p>



<script>
    // Inicializa el botón de PayPal una sola vez
    var paypalButton = paypal.Buttons({
        style: {
            color: 'silver',
            shape: 'pill',
            label: 'pay'
        },
        createOrder: function (data, actions) {
            // Obtén el valor del total del pedido seleccionado
            var total = 0; // Valor predeterminado si no se selecciona un pedido válido

            var orderSelect = document.getElementById('order-select');
            var selectedOption = orderSelect.options[orderSelect.selectedIndex];

            if (selectedOption) {
                total = selectedOption.getAttribute('data-amount');
            }

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total // Usamos el total del pedido seleccionado
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            //en detalles se va a guardar todo lo que pase en nuestro pago
            actions.order.capture().then(function (detalles) {
                window.location.href = "{{ url_for('clients.clientsHome') }}"
            });
        },
        onCancel: function (data) {
            alert("Pago cancelado")
            console.log(data);
        },
        onError: function (error) {
            alert("Error al procesar el pago: " + error.message);
        }
    });

    // Renderiza el botón de PayPal en el contenedor
    paypalButton.render('#paypal-button-conteiner');

    // Función para actualizar el valor del total al cambiar la selección
    function actualizarCamposPago() {
        // Actualizar el valor del total en el botón de PayPal
        var orderSelect = document.getElementById('order-select');
        var selectedOption = orderSelect.options[orderSelect.selectedIndex];
        var total = 0; // Valor predeterminado si no se selecciona un pedido válido

        if (selectedOption) {
            total = selectedOption.getAttribute('data-amount');
        }

        paypalButton.update({
            purchase_units: [{
                amount: {
                    value: total
                }
            }]
        });
    }

    // Llama a la función para actualizar los campos de pago cuando el select cambia
    document.getElementById('order-select').addEventListener('change', actualizarCamposPago);

    // Llama a la función inicialmente para configurar el valor correcto del total
    actualizarCamposPago();
</script>




<script src="{{ url_for('static', filename='js/clientuser/payments.js') }}"></script>


<script>
    const orderSelect = document.getElementById('order-select');
    const tipoPagoSelect = document.getElementById('tipo_pago');

    orderSelect.addEventListener('change', function () {
        const selectedOption = orderSelect.options[orderSelect.selectedIndex];
        if (selectedOption.value) {
            // Habilitar el select de tipo de pago si se selecciona una orden
            tipoPagoSelect.removeAttribute('disabled');
        } else {
            // Deshabilitar el select de tipo de pago si no se selecciona una orden
            tipoPagoSelect.setAttribute('disabled', 'disabled');
        }
    });

</script>





{% endblock %}