{% extends './base.html' %}

{% block title %}Productos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/clientuser/products.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}


{% block body %}
<!-- Header -->
<header>
    <div class="nav container">
        <div>
            <a href="{{ url_for('clients.clientsHome') }}" class="btn">Atras</a>
            <a href="{{ url_for('clients.clientsHome') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="small-logo" />
            </a>

        </div>
        <a class="logo2">BLDNGSolutions</a>

        <i class='bx bxs-shopping-bag' id="cart-icon"></i>

        <div class="cart">
            <h2 class="cart-title">Tus maquinas</h2>

            <div class="cart-content">

            </div>

            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$0</div>
            </div>

            <form action="{{ url_for('clients.place_order') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="clientUser_id" value="{{ user_id }}">
                <input type="hidden" name="machine_price" value="{{ machine_price }}">
                <button type="submit" class="btn-buy">Pedir</button>
            </form>
            

            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </div>
</header>

<div class="flash-message" id="flashMessage">
    Producto agregado al carrito
</div>

<section class="shop container">
    <h2 class="section-title">Productos</h2>
    <h2>Bienvenido, {{current_user.fullname}}</h2>

    <div class="shop-content">
    {% for product in products %}
    <div class="product-box" data-machine-id="{{ product.id }}">
        <img src="{{ url_for('static', filename='images/products/' + product.image) }}" alt="" class="product-img">
        <h2 class="product-title">{{ product.name }}</h2>
        <span class="">Desde: </span>
        <span class="price">${{ product.price }} MXN</span>
        <i class='bx bx-shopping-bag add-cart'></i>
    </div>
    {% endfor %}
    </div>

</section>

    <form method="POST" action="{{ url_for('clients.formulario') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="contador">Contador:</label>
        <input type="text" name="contador" id="contador" required>
        <button type="submit">Pedir</button>
    </form>


<script src="{{ url_for('static', filename='js/clientuser/products.js') }}"></script>


{% endblock %}