{% extends './base.html' %}

{% block title %}Productos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/clientuser/products.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}


{% block body %}
<div id="particles-js"></div>
<style>
    body {
        background-image: url("{{ url_for('static', filename = 'images/backgrounds/background4.png') }}");
        background-size: cover;
        background-repeat: no-repeat;
    }
    #particles-js {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
    }
</style>

<!-- Header -->
<header>
    <div class="nav container">
        <div>
            <a href="{{ url_for('clients.clientsHome') }}" class="btn">Atras</a>
            <a href="{{ url_for('clients.clientsHome') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="small-logo" />
            </a>

        </div>
        <a class="logo2">BLDNGSolutions</a>

        <i class='bx bxs-shopping-bag' id="cart-icon"></i>

        <div class="cart">
            <h2 class="cart-title">Tus maquinas</h2>

            <div class="cart-content">

            </div>

            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$0</div>
            </div>


            <form id="purchase-form" action="{{ url_for('clients.place_order') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="clientUser_id" value="{{ user_id }}">
                <input type="hidden" id="cart-machine-ids" name="cart_machine_ids" value="">
                <input type="hidden" name="cart_weeks" id="cart_weeks" value="">
                <input type="hidden" name="cart_total" id="cart_total" value="">



                <div class="purchase-options">
                    <input type="radio" id="option-compra" name="purchase_option" value="compra">
                    <label for="option-compra">Compra</label>

                    <input type="radio" id="option-renta" name="purchase_option" value="renta" checked>
                    <label for="option-renta">Renta</label>
                </div>

                <button type="submit" class="btn-buy">Pedir</button>
            </form>



            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </div>
</header>

<div class="flash-message" id="flashMessage">
    Producto agregado al carrito
</div>

<section class="shop container">
    <h2 class="section-title">Productos</h2>
    <h2>Bienvenid@, {{current_user.fullname}}</h2>

    <div class="shop-content">
        {% for product in products %}
        <div class="product-box" data-machine-id="{{ product.id }}">
            <img src="{{ url_for('static', filename='images/products/' + product.image) }}" alt="" class="product-img">
            <h4 class="machine-id" style="display: none;">{{ product.id_Machine }}</h4>

            <h2 class="product-title">{{ product.name }}</h2>
            <span class="">Rentas <br> desde: </span>
            <span class="price">${{ product.price }} MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>

        {% endfor %}
    </div>

</section>




<script src="{{ url_for('static', filename='js/clientuser/products.js') }}"></script>

<script src="{{ url_for('static', filename='js/particlesjs/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/particlesjs/particlesjs-config.json') }}"></script>
{% endblock %}