{% extends './base.html' %}

{% block title %}Productos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/clientuser/products.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}


{% block body %}
<!-- Header -->
<header>
    <div class="nav container">
        <div>
            <a href="{{ url_for('clients.clientsHome') }}" class="btn">Atras</a>
            <a href="{{ url_for('clients.clientsHome') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="small-logo" />
            </a>

        </div>
        <a class="logo2">BLDNGSolutions</a>

        <i class='bx bxs-shopping-bag' id="cart-icon"></i>

        <div class="cart">
            <h2 class="cart-title">Tus maquinas</h2>

            <div class="cart-content">

            </div>

            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$0</div>
            </div>

            <button type="button" class="btn-buy">Pedir</button>

            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </div>
</header>

<div class="flash-message" id="flashMessage">
    Producto agregado al carrito
</div>

<section class="shop container">
    <h2 class="section-title">Productos</h2>

    <div class="shop-content">
        <!--Box 1-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat1.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 1</h2>
            <span class="price">$15000.40 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 2-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat2.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 2</h2>
            <span class="price">$16000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 3-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat3.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 3</h2>
            <span class="price">$16000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 4-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat4.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 4</h2>
            <span class="price">$13000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 5-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat5.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 5</h2>
            <span class="price">$95000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 6-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat6.jpg') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 6</h2>
            <span class="price">$75000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 7-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 7</h2>
            <span class="price">$175000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 8-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 8</h2>
            <span class="price">$55000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 9-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 9</h2>
            <span class="price">$25000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 10-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 10</h2>
            <span class="price">$125000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 11-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 11</h2>
            <span class="price">$35000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
        <!--Box 12-->
        <div class="product-box">
            <img src="{{ url_for('static', filename='images/products/cat7.png') }}" alt="" class="product-img">
            <h2 class="product-title">CAT 12</h2>
            <span class="price">$44000.00 MXN</span>
            <i class='bx bx-shopping-bag add-cart'></i>
        </div>
    </div>
</section>



<script src="{{ url_for('static', filename='js/clientuser/products.js') }}"></script>


{% endblock %}