{% extends './base.html' %}

{% block title %}Máquinas a salir del almacén{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/storage.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}

<a href="{{ url_for('storage_home') }}" class="btn btn-primary">Atrás</a>

<h1>Máquinas próximas a salir (pedido completado)*</h1>
<p>*Se muestran las máquinas que ya tienen </p>
<p>verificado el pago y los documentos</p>

<table class="table1">
    <tr>
        <th>Námero de pedido</th>
        <th>Id. Máquina</th>
        <th>Modelo y marca</th>
    </tr>

    {% for machine in machines %}
    <tr>
        <td>{{ machine[0] }}</td>
        <td>{{ machine[1] }}</td>
        <td>{{ machine[2] | upper}} {{ machine[3] | upper}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}