{% extends './base.html' %}

{% block title %}Historial de máquinas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/storage.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}

<div class="notifications" style="position: absolute; top: 60px; right: 25px; width: 100px;">
    <span class="material-symbols-rounded" style="font-size: 50px; color:white;" id="notification-icon">
        notifications
    </span>
    <span id="notification-count-badge" class="notification-badge">0</span>
    <div id="notification-popup" class="notification-popup" style="width: 350px;">
        <!-- Contenido de las notificaciones -->
    </div>
</div>

<a href="{{ url_for('storage_home') }}" class="btn btn-primary">Atrás</a>

<h1>Historial de las máquinas</h1>

<table class="table1">
    <tr>
        <th>Id de la Máquina</th>
        <th>uid</th>
        <th>Modelo</th>
        {# <th>fecha</th> #}
        <th>Estado</th>
        <th>Historial</th>
    </tr>

    {% for machine in machines_data %}
    <tr>
        <td>{{ machine[0] }}</td>
        <td>{{ machine[1] }}</td>
        <td>{{ machine[2] | upper }}</td>
        {# <td>{{ machine[3] }}</td> #}
        <td>
            {% if machine[4] == 1 %}
            EN ALMACÉN
            {% else %}
            FUERA DE ALMACÉN
            {% endif %}
        </td>
        <td>
            <a href="{{ url_for('storageemp.machineHistory', machine_id=machine[0]) }}" class="btnlight">
                <span class="material-symbols-rounded">
                    history
                </span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const notificationIcon = document.getElementById('notification-icon');
        const notificationPopup = document.getElementById('notification-popup');
        const closeNotificationPopup = document.getElementById('close-notification-popup');

        let isPopupOpen = false;

        notificationIcon.addEventListener('click', function () {
            if (isPopupOpen) {
                notificationPopup.style.display = 'none';
            } else {
                // Hacer una solicitud AJAX al servidor para obtener las notificaciones en formato JSON
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/check_mantenimiento', true);

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const resultados = JSON.parse(xhr.responseText);
                        const notificationList = document.createElement('ul');
                        notificationList.classList.add('notification-list-container');

                        for (const machineId in resultados) {
                            if (resultados.hasOwnProperty(machineId)) {
                                const notification = resultados[machineId];
                                const listItem = document.createElement('li');
                                listItem.textContent = notification.message;
                                
                                listItem.style.listStyle = 'none';

                                listItem.classList.add('blue');

                                notificationList.appendChild(listItem);
                            }
                        }

                        notificationPopup.innerHTML = '';
                        notificationPopup.appendChild(notificationList);
                        notificationPopup.style.display = 'block';

                        // Actualizar el contador de notificaciones
                        const notificationCount = Object.keys(resultados).length;
                        const notificationCountBadge = document.getElementById('notification-count-badge');
                        notificationCountBadge.textContent = notificationCount;
                    }
                };

                xhr.send();
            }

            isPopupOpen = !isPopupOpen;
        });

        closeNotificationPopup.addEventListener('click', function () {
            notificationPopup.style.display = 'none';
            isPopupOpen = false;
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Hacer una solicitud AJAX para obtener el número de notificaciones disponibles
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/check_mantenimiento', true);

        xhr.onload = function () {
            if (xhr.status === 200) {
                const resultados = JSON.parse(xhr.responseText);
                const notificationCount = Object.keys(resultados).length; // Obtenemos el número de elementos en el objeto JSON
                // Actualizamos el contador de notificaciones
                document.getElementById('notification-count-badge').textContent = notificationCount;
            }
        };

        xhr.send();
    });

</script>

{% endblock %}