{% extends './base.html' %}

{% block title %}Maquinas{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/storage.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}

{% block body %}

<a href="{{ url_for('storage_home') }}" class="btn btn-primary">Atras</a>

<h1>Información de las maquinas</h1>

<!-- Add the button to navigate to the page for adding new machines -->
<a href="{{ url_for('storageemp.add_machine') }}" class="btn btn-primary">Agregar Nueva Maquina</a>

<table class="table1">

    <tr>
        <th>Id de la Maquina</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Tipo de maquina</th>
    </tr>

    {% for machine in machines_data %}
    <tr>
        <td>{{ machine[0] }}</td>
        <td>{{ machine[1] | upper }}</td>
        <td>{{ machine[2] | upper }}</td>
        <td>{{ machine[3] | upper }}</td>
        <td>
            <!-- Update Button -->
            <a href="{{ url_for('storageemp.update_machine', machine_id=machine[0]) }}" class="btn btn-primary"><span
                    class="material-symbols-rounded">
                    edit
                </span></a>
        </td>
        <td>
            <!-- Delete Form -->
            <form method="post" action="{{ url_for('storageemp.delete_machine', machine_id=machine[0]) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary" onclick="return confirmDelete();"><span
                        class="material-symbols-rounded">
                        delete
                    </span>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>


<script>
    function confirmDelete() {
        return confirm("¿Quieres eliminar este registro?");
    }
</script>

{% endblock %}