{% extends './base.html' %}

{% block title %}Aviso de mantenimiento{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/storage.css')}}">

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}


{% block body %}

<a href="{{ url_for('storage_home') }}" class="btn btn-primary">Atrás</a>

<h1>Aviso de mantenimiento a máquina</h1>

<table class="table1">
    <tr>
        <th>No. Máquina</th>
        <th>Máquina</th>
        <th>Mantenimiento</th>
    </tr>

    {% for machine in machines_data %}
    <tr>
        <td>{{ machine[0] }}</td>
        <td>{{ machine[1] | upper }}</td>
        <td>
            <form method="POST" action="/storage/preventive/{{ machine[0] }}"
                onsubmit="return confirmAction('preventivo');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary">preventivo</button>
            </form>
            <form method="POST" action="/storage/corrective/{{ machine[0] }}"
                onsubmit="return confirmAction('correctivo');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary">correctivo</button>
            </form>
        </td>
    </tr>
    <script>
        function confirmAction(action) {
            return confirm(`Al seleccionar esta opción se avisará al área de mantenimiento que la máquina requiere mantenimiento ${action}`);
        }
    </script>

    {% endfor %}
</table>

{% endblock %}