{% extends './base.html' %}

{% block title %}Actualizar Máquina{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/updateMachine.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('storageemp.stoMachines') }}" class="btn btn-primary">Atras</a>

<div class="container">

    <h1>Actualizar Máquina</h1>

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="model">Modelo:</label>
        <input type="text" id="model" name="model" value="{{ machine_data[1] }}" required>
        <label for="brand">Marca:</label>
        <input type="text" id="brand" name="brand" value="{{ machine_data[2] }}" required>
        <label for="type">Tipo de máquina:</label>
        <input type="text" id="type" name="type" value="{{ machine_data[3] }}" required>
        <label for="status">Estado:</label>
        <input type="text" id="status" name="status" value="{{ machine_data[4] }}" required>
        <label for="currentUser">Cliente actual:</label>
        <input type="text" id="currentUser" name="currentUser" value="{{ machine_data[5] }}" required>
        <button type="submit">Guardar cambios</button>
    </form>

</div>

{% endblock %}
