/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #444654, #282930);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.azul-claro {
    background-color: lightblue;
}

/* Container Styles */
.container {
    max-width: 1100px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-3deg);
    border-radius: 10px;
    z-index: -1;
}

/* Header Styles */
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Table Styles */
.table1 {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    table-layout: fixed;
}



.table1 th, .table1 td {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table1 th {
    background: rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: rgb(84, 84, 87);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    margin: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

/* Additional Styles */
table {
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

table th {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    text-transform: uppercase;
}

button {
    background-color: rgb(46, 106, 236);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded', sans-serif;
    font-size: 18px;
}

.material-symbols-rounded:before {
    content: attr(data-symbol);
}
.orange-button {
    background-color: rgb(185, 123, 6); /* Change this to your desired orange color */
    color: white; /* Text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50px; /* Rounded corners for the button */
}

/* Estilos para los input */
input[type="text"] {
    padding: 10px; 
    border-radius: 50px; 
    border: none; 
    background-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    margin-bottom: 10px; 
}

.flash-message.success {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 10px; 
}



