{% extends './base.html' %}

{% block title %}Administrador{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration/indexadm.css')}}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
{% endblock %}


{% block body %}


<div class="container">
  <!-- Sidebar Section -->
  <aside>
    <div class="toggle">
      <div class="logo">
       <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h2>BLDNG<span class="danger">Solutions</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">
          close
        </span>
      </div>
    </div>

    <div class="sidebar">
      <a href="#">
        <span class="material-icons-sharp">
          dashboard
        </span>
        <h3>Inicio</h3>
      </a>
      <a href="{{ url_for('salesemp.salesHome') }}" target="_blank">
        <span class="material-icons-sharp">
          shopping_bag
        </span>
        <h3>Ventas</h3>
      </a>
      <a href="{{ url_for('storageemp.storage_home')}}" target="_blank">
        <span class="material-icons-sharp">
        warehouse
        </span>
        <h3>Almacén</h3>
      </a>
      <a href="{{ url_for('maintemp.maintenance_home')}}" class="" target="_blank">
      <span class="material-icons-sharp">
      engineering
      </span>
        <h3>Mantenimiento</h3>
      </a>
      <a href="{{ url_for('shipemp.shipping_home')}}" target="_blank">
        <span class="material-icons-sharp">
          local_shipping
        </span>
        <h3>Envios</h3>
      </a>
      <a href="{{ url_for('admin.projectionsResults')}}">
        <span class="material-icons-sharp">
          query_stats
        </span>
        <h3>Proyecciones</h3>
      </a>
      <a href="{{ url_for('admin.accesscontrol')}}">
        <span class="material-icons-sharp">
        supervisor_account
        </span>
        <h3>Control de accesos</h3>
      </a>
      <a href="{{ url_for('admin.employeelist')}}">
        <span class="material-icons-sharp">
        manage_accounts
        </span>
        <h3>Empleados</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp">
          add
        </span>
        <h3>Nuevos prospectos</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp">
          account_circle
        </span>
        <h3>Clientes</h3>
      </a>
      <a href="{{ url_for('logoutadm') }}">
        <span class="material-icons-sharp">
          logout
        </span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>
  <!-- End of Sidebar Section -->

  <!-- Main Content -->
  <main>
    <h1>Analytics</h1>
    <!-- Analyses -->
    <div class="analyse">
      <div class="sales">
        <div class="status">
          <div class="info">
            <h3>Total Sales</h3>
            <h1>$65,024</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>+81%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="visits">
        <div class="status">
          <div class="info">
            <h3>Site Visit</h3>
            <h1>24,981</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>-48%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="searches">
        <div class="status">
          <div class="info">
            <h3>Searches</h3>
            <h1>14,147</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>+21%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Analyses -->

  </main>
  <!-- End of Main Content -->

  <!-- Right Section -->
  <div class="right-section">
    <div class="nav">
      <button id="menu-btn">
        <span class="material-icons-sharp">
          menu
        </span>
      </button>
      <div class="dark-mode">
        <span class="material-icons-sharp active">
          light_mode
        </span>
        <span class="material-icons-sharp">
          dark_mode
        </span>
      </div>

      <div class="profile">
        <div class="info">
          <p>Hola, {{current_user.fullname}}</p>
          <small class="text-muted">Administrador</small>
        </div>
        <div class="profile-photo">
          <img src="https://lens-storage.storage.googleapis.com/png/fb43eae590fe4a508f5158e8f60be892">
        </div>
      </div>

    </div>
    <!-- End of Nav -->

    <div class="user-profile">
      <div class="logo">
        <h2>Panel de administración</h2>
      </div>
    </div>

    <div class="reminders">
      <div class="header">
        <h2>Reminders</h2>
        <span class="material-icons-sharp">
          notifications_none
        </span>
      </div>

      <div class="notification">
        <div class="icon">
          <span class="material-icons-sharp">
            volume_up
          </span>
        </div>
        <div class="content">
          <div class="info">
            <h3>Workshop</h3>
            <small class="text_muted">
              08:00 AM - 12:00 PM
            </small>
          </div>
          <span class="material-icons-sharp">
            more_vert
          </span>
        </div>
      </div>

      <div class="notification deactive">
        <div class="icon">
          <span class="material-icons-sharp">
            edit
          </span>
        </div>
        <div class="content">
          <div class="info">
            <h3>Workshop</h3>
            <small class="text_muted">
              08:00 AM - 12:00 PM
            </small>
          </div>
          <span class="material-icons-sharp">
            more_vert
          </span>
        </div>
      </div>

      <div class="notification add-reminder">
        <div>
          <span class="material-icons-sharp">
            add
          </span>
          <h3>Add Reminder</h3>
        </div>
      </div>

    </div>

  </div>


</div>

<script src="{{ url_for('static', filename='js/administration/principal.js') }}"></script>


{% endblock %}