{% extends './base.html' %}

{% block title%}Prospectos contactados{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration/listEmp.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
{% endblock %}

{% block body %}
<a href="{{ url_for('admin.prospects') }}" class="btn" >Atrás</a>
<h1>Prospectos contactados</h1>

<table class="table1">
    <tr>
        <th>Número</th>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Teléfono</th>
        <th>Correo electrónico</th>
        <th>Eliminar</th>
    </tr>
    {% for prospect in prospects %}
    <tr>
        <td>{{ prospect[0] }}</td>
        <td>{{ prospect[1] }}</td>
        <td>{{ prospect[2] }}</td>
        <td>{{ prospect[3] }}</td>
        <td>{{ prospect[4] }}</td>
        <td>
            <form method="POST" action="{{ url_for('admin.deleteProspect', id=prospect[0]) }}" style="display:inline;"
                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" style="background:none;border:none;cursor:pointer;padding:0;color:inherit;">
                    <span class="material-symbols-rounded">delete</span>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}