{% extends './base.html' %}

{% block title%}Listado de clientes de ventas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employeelist.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />

{% endblock %}


{% block body %}

<h1>Informacion de los empleados del area de envios</h1>


<table class="table table-lg table-dark">
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Nombre completo</th>
        <th>Correo electrónico</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}