{% extends './base.html' %}

{% block title%}Listado de clientes de ventas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employeelist.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />

{% endblock %}


{% block body %}
<a href="{{ url_for('admin.employeelist') }}" class="btn" >Atras</a>

<h1>Informacion de los empleados del area de ventas</h1>

<div>
    <a href="{{ url_for('admin.salesAddEmp') }}" class="btn btn-primary">Agregar nuevo empleado</a>
</div>

<table class="table table-lg table-dark">
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Nombre completo</th>
        <th>Correo electrónico</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td><a href="{{ url_for('admin.salesUpdateEmp', id=user[0]) }}">
            <span class="material-symbols-rounded">
            edit
            </span></a>
        </td>
        <td><a href="{{ url_for('admin.salesDeleteEmp', id=user[0]) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
            <input type="hidden" name="_method" value="DELETE">
            <span class="material-symbols-rounded">
            delete
            </span></a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}