{% extends './base.html' %}

{% block title%}Historial de accesos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/employeelist.css')}}">

{% endblock %}


{% block body %}

<h1>Historial de accesos</h1>
<h2>Empleados</h2>

{% endblock %}