{% extends './base.html' %}

{% block title %}Agregar Prospecto{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crud/add.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}

{% block body %}

<a href="{{ url_for('salesemp.prospects') }}" class="btn btn-primary">Atrás</a>

<div class="container">

    <h1>Agregar Nuevo Prospecto</h1>

    <form method="post" action="{{ url_for('salesemp.add_prospect') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <label for="fullname">Nombre Completo:</label>
        <input type="text" name="fullname" required>
        <br>
        <label for="company">Empresa:</label>
        <input type="text" name="company" required>
        <br>
        <label for="number">Teléfono:</label>
        <input type="text" name="number" required>
        <br>
        <label for="email">Correo Electrónico:</label>
        <input type="text" name="email" required>
        <br>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>

{% endblock %}
