{% extends './base.html' %}

{% block title %}Envios{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipping/shipping.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}


{% block body %}
<h1>Pagina pedidos</h1>

<a href="{{ url_for('shipping_home') }}" class="btn btn-primary">Atrás</a>

<table class="table1">
    <tr>
        <th>No. de pedido</th>
        <th>Id. maquinas</th>
        <th>Domicilio de entrega y Código Postal</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] | upper }}, {{ row[3] }}</td>
    </tr>
    {% endfor %}
</table>

{# <a href="{{ url_for('shipemp.completedOrders') }}" class="btn btn-primary">Pedidos Completados</a> #}

{% endblock %}