{% extends './base.html' %}

{% block title %}Rutas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipping/shipping.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('shipemp.orders') }}" class="btn btn-primary">Atrás</a>
<h1>Rutas sugeridas</h1>
<div class="container">
    <form id="locationForm">
        <label for="startLocation">Ubicación inicial:</label>
        <input type="text" id="startLocation" name="startLocation">
        <label for="endLocation">Ubicación final:</label>
        <input type="text" id="endLocation" name="endLocation" value="{{ end_location|default('') }}, jalisco">
        <input type="submit" value="Buscar Ruta">
    </form>
</div>

<div class="container">
    <h2 id="distanceMessage"></h2>
</div>
<div id="map" style="height: 400px; width: 100%; border-radius: 10px;"></div>

<script src="{{ url_for('static', filename='js/shipping/routes.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
{% endblock %}