{% extends './base.html' %}

{% block title %}Mantenimiento{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance/maintenance.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}
<a href="{{ url_for('maintenance_home') }}" class="btn btn-primary">Atrás</a>

<h1>Página de Mantenimiento</h1>

<table class="table1">
    <tr>
        <th>No.</th>
        <th>Máquina</th>
        <th>Mantenimiento correctivo finalizado</th>
        <th>Mantenimiento preventivo</th>
        <th>Faltan:</th>
    </tr>

    {% for machine in machines_data %}
    <tr>
        <td>{{ machine[0] }}</td>
        <td>{{ machine[1] | upper }} {{ machine[2] | upper }}</td>
        <td>
            <form method="POST" action="/maintenance/corrective/{{ machine[0] }}"
                onsubmit="return confirmCorrectiveAction();">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary"><span class="material-symbols-outlined">
                        build
                    </span></button>
            </form>
        </td>
        <td>
            <form method="POST" action="/maintenance/preventive/{{ machine[0] }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% if machine[3] is none or machine[3] <= 0 %} <button type="submit" name="days" value="15"
                    class="btn btn-primary">
                    15 días
                    </button>
                    <button type="submit" name="days" value="30" class="btn btn-primary">
                        30 días
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled>
                        15 días
                    </button>
                    <button type="button" class="btn btn-primary" disabled>
                        30 días
                    </button>
                    {% endif %}
            </form>
        </td>

        <td>
            {% if machine[3] is not none %}
            {% if machine[3] > 0 %}
            {{ machine[3] }} días
            {% else %}
            No programado
            {% endif %}
            {% else %}
            No programado
            {% endif %}
        </td>
    </tr>
    <script>
        function confirmCorrectiveAction() {
            return confirm("¡Esta acción marcará a la máquina con mantenimiento correctivo realizado!");
        }

        function confirmPreventiveAction(days) {
            return confirm(`¡Esta acción marcará la máquina para mantenimiento preventivo cada ${days} y no se podrá modificar hasta pasado el tiempo especificado!`);
        }
    </script>
    {% endfor %}
</table>

{% endblock %}