{% extends './base.html' %}

{% block title %}Reportes de fallas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maintenance/maintenance.css')}}">

{% endblock %}

{% block body %}
<a href="{{ url_for('maintenance_home') }}" class="btn btn-primary">Atrás</a>

<h1>Página de Reportes de Fallas</h1>

<table class="table1">
    <tr>
        <th>Nombre de quien realizó el reporte</th>
        <th>Máquina reportada</th>
        <th>Fecha del reporte</th>
        <th>Descripción del problema o falla</th>
        <th>Estado del problema o falla</th>
    </tr>

    {% for report in reports_data %}
    <tr>
        <td>{{ report[0] }}</td>
        <td>{{ report[1] | upper }} {{ report[2] | upper }}</td>
        <td>{{ report[3] }}</td>
        <td>{{ report[4] }}</td>
        <td>
            {% if report[5] == 0 %}
                Recibido
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('maintemp.completedReports') }}" class="btn btn-primary">Reportes completados</a>
{% endblock %}