{% extends './base.html' %}

{% block title %}Historial{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/storage/stoMaint.css')}}">

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
{% endblock %}


{% block body %}

<a href="{{ url_for('maintenance_home') }}" class="btn btn-primary">Atras</a>

<h1>Historial de la maquina {{ machine_id }}</h1>

<table class="table1">
    <tr>
        <th>Tipo de Mantenimiento</th>
        <th>Número de Veces Realizado</th>
    </tr>
    <tr>
        <td>Mantenimiento Preventivo</td>
        <td>{{ preventive_dates|length }}</td>
    </tr>
    <tr>
        <td>Mantenimiento Correctivo</td>
        <td>{{ corrective_dates|length }}</td>
    </tr>
</table>

<div class="scrollable-table">
    <table class="table1">
        <thead>
            <tr>
                <th>Fechas de mantenimiento preventivo</th>
                <th>Fechas de mantenimiento correctivo</th>
            </tr>
        </thead>
        <tbody>
            {% for date in preventive_dates %}
            <tr>
                <td>{{ date[0] }}</td>
                <td></td> <!-- Celda vacía para las fechas de mantenimiento correctivo -->
            </tr>
            {% endfor %}
            {% for date in corrective_dates %}
            <tr>
                <td></td> <!-- Celda vacía para las fechas de mantenimiento preventivo -->
                <td>{{ date[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .scrollable-table {
        max-height: 350px; 
        overflow-y: scroll;  
        border-radius: 10px;
    }

    .scrollable-table th {
        position: sticky;
        top: 0;
        background-color: #d3d3d3;
    }
</style>

{% endblock %}

