{% extends './base.html' %}

{% block title %}Nuevas solicitudes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/newRequest.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}


{% block body %}

<a href="{{ url_for('sales_emp_area') }}" class="btn" >Atras</a>

<h1>Pagina de Nuevas solicitudes</h1>

<table class="table1">
    <tr>
        <th>No. de Solicitud</th>
        <th>Solicitante</th>
        <th>Maquinas</th>
        <th>Tipo</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[1] }}</td>
        <td>{{ order[2] }}</td>
        <td>
            <form method="post" action="{{ url_for('salesemp.update_type', id_order=order[0]) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <select name="type">
                    <option value="venta" {% if order[3] == 'venta' %}selected{% endif %}>Venta</option>
                    <option value="renta" {% if order[3] == 'renta' %}selected{% endif %}>Renta</option>
                </select>
                <input type="submit" value="Guardar">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}