{% extends './base.html' %}

{% block title %}Rentas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/rentsList.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}


{% block body %}

<a href="{{ url_for('sales_emp_area') }}" class="btn" >Atras</a>

<h1>Pagina de Rentas</h1>

<table class="table1">
    <tr>
        <th>Maquina</th>
        <th>No. de orden</th>
        <th>Estado del pedido</th>
    </tr>

    
</table>

{% endblock %}