{% extends './base.html' %}

{% block title %}Rentas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/rentsList.css')}}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}

<a href="{{ url_for('sales_emp_area') }}" class="btn">Atras</a>

<h1>Pagina de Rentas</h1>

<a href="{{ url_for('salesemp.completedOrders') }}" class="btn">Pedidos completados</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert">
    {% for message in messages %}
    <p class="flash-message success">{{ message }}</p>
    {% endfor %}
</div>
<script>
    // Selecciona todos los elementos con la clase flash-message
    var flashMessages = document.querySelectorAll('.flash-message');

    // Oculta cada mensaje después de 1500 milisegundos (1.5 segundos)
    flashMessages.forEach(function (message) {
        setTimeout(function () {
            message.style.display = 'none';
        }, 1500);
    });
</script>
{% endif %}
{% endwith %}

<table class="table1">
    <tr>
        <th>No. de orden</th>
        <th>Detalles</th>
        <th>Documentos Validos</th>
        <th>Pago realizado</th>
        <th>Marcar como completada</th>
        <th>Aceptar solicitud de cancelacion</th>
    </tr>
    {% for order_id in order_ids %}
    <tr>
        <td>{{ order_id[0] }}</td>
        <td><a href="{{ url_for('salesemp.orderDetails', order_id=order_id[0]) }}"><button><span
                        class="material-symbols-rounded">
                        info
                    </span></button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('salesemp.update_verified_docs', order_id=order_id[0]) }}"
                onclick="return confirm('¿Estás seguro de que deseas marcar los documentos como verificados? Esta acción permitirá al cliente ver que sus documentos han sido aceptados.')">
                <button><span class="material-symbols-rounded">task</span></button>
            </a>
        </td>


        <td>
            <a href="{{ url_for('salesemp.update_payment_made', order_id=order_id[0]) }}"
                onclick="return confirm('¿Estás seguro de registrar el pago?, el cliente podrá ver que el pago ya ha sido recibido y verificado');">
                <button><span class="material-symbols-rounded">attach_money</span></button>
            </a>
        </td>



        <td>
            <a class="mark-as-completed" href="#"
                data-href="{{ url_for('salesemp.orderCompleted', order_id=order_id[0]) }}">
                <button class="orange-button"><span class="material-symbols-rounded">how_to_reg</span></button>
            </a>
        </td>

        <td>
            {% if order_id[1] == 1 %}
            <form method="POST" action="{{ url_for('salesemp.acceptCancelRequest', order_id=order_id[0]) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit"><span class="material-symbols-rounded">check_circle</span></button>
            </form>
            {% else %}
            Sin solicitud
            {% endif %}
        </td>


        {% endfor %}
        <a href="{{ url_for('salesemp.canceledRentsList') }}" class="btn btn-primary">Pedidos cancelados</a>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".mark-as-completed").click(function () {
            if (confirm("¿Está seguro de que desea marcar este pedido como completado? Esta acción no se puede deshacer.")) {

                window.location.href = $(this).attr('data-href');
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var flashMessages = document.getElementById("flash-messages");

        if (flashMessages) {
            setTimeout(function () {
                flashMessages.style.display = "none";
            }, 1500); // Ocultar después de 1.5 segundos (1500 milisegundos)
        }
    });
</script>

{% endblock %}