{% extends './base.html' %}

{% block title%}Documentos{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/uploadedDocuments.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}

<a href="{{ url_for('salesemp.clientsList') }}" class="btn btn-primary">Atrás</a>
<div class="container">
  <h1>Documentos</h1>
  <table class="table1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Archivo</th>
        <th>Descargar</th>
        <th>Visualizar</th>
        <th>Validar</th>
        <th>No válido</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for file in documents %}
      <tr>
        <td>{{ file[0] }}</td>
        <td>{{ file[1] }}</td>
        <td>
          <a href="{{ url_for('salesemp.download_file', filename=file[1]) }}" class="btn btn-primary"
            onclick="return confirmDownload();">Descargar</a>
        </td>
        <td>
          <a href="{{ url_for('salesemp.view_file', filename=file[1]) }}" class="btn btn-primary" target="_blank">Visualizar</a>
        </td>

        <td>
          <a href="{{ url_for('salesemp.mark_as_completed', file_id=file[0], user_id=user_id) }}" class="btn btn-primary btn-valid">Válido</a>
        </td>
        <td>
          <a href="{{ url_for('salesemp.mark_as_incomplete', file_id=file[0], user_id=user_id) }}" class="btn btn-primary btn-valid">No válido</a>
        </td>
        
        <td>
          {% if file[2] == 1 %}
            Completo
          {% else %}
            Incompleto
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<script>
  function confirmDownload() {
    return confirm("¿Quieres descargar este documento?");
  }
</script>


{% endblock %}
