/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #33353f, #444654);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* Container Styles */
.container {
    max-width: 1000px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-2deg);
    border-radius: 10px;
    z-index: -1;
}

/* Header Styles */
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Table Styles */
.table1 {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    table-layout: fixed;
}

.table1 th, .table1 td {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table1 th {
    background: rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: #245F94;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    margin: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(36, 35, 35, 0.85);
}

/* Additional Styles */
.back {
    margin-bottom: 1.5rem;
}

.custom-button {
    display: block;
    background-color: #245F94;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0 auto; /* Centrado horizontal */
}

.custom-button:hover {
    background-color: rgba(53, 52, 52, 0.85);
}

.drop-box {
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.drop-box.dragover {
    border-color: rgba(0, 0, 0, 0.7);
}

.file-input {
    display: none;
}

.file-input-label {
    background-color: #245F94;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#selected-file {
    margin-top: 1rem;
    font-weight: bold;
}


.alert {
    background-color: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}
