/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: .3rem;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #33353f, #444654);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    max-width: 1500px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-2deg);
    border-radius: 10px;
    z-index: -1;
}

img {
    margin-right: 10px;
}

select {
    margin-bottom: 10px;
}

.formulario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

button {
    display: inline-block;
    background-color: rgb(171, 37, 212);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    margin: 5px;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    background-color: rgb(171, 37, 212);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    margin: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(61, 61, 61, 0.85);
}

input[type="text"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

input[type="text"]:focus {
    background: white;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
