body {
    font-family: Arial, sans-serif;
}

img {
    margin-right: 10px;
}

select {
    margin-bottom: 10px;
}

.formulario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}