body,
h1,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  font-weight: 520;
  margin-bottom: 1.5rem;
  text-align: center;
}


body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #33353f, #444654);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Container Styles */
.container {
  max-width: 1100px;
  width: 100%;
  background: rgba(255, 255, 255, .5);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, .15);
  transform: rotate(-2deg);
  border-radius: 10px;
  z-index: -1;
}

/* Header Styles */
h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Additional Styles */
.container .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin-right: 20px;
}

.steps .circle:last-child {
  margin-right: 0; 
}

.steps .circle-text {
  margin-top: 5px; 
  text-align: center; 
  font-size: 14px; 
}

.steps .circle.active {
  transition-delay: 100ms;
  border-color: #7e7c7c;
  color: #3f3f3f;
}

.steps .progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background: #e0e0e0;
  z-index: -1;
}

.progress-bar .indicator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 0%;
  background: #7e7c7c;
  transition: all 300ms ease;
}

.container .buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 8px 25px;
  background: #606061;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 200ms linear;
  margin-top: 30px;
}

.buttons button:active {
  transform: scale(0.97);
}

.buttons button:disabled {
  background: #717b94;
  cursor: not-allowed;
}

.btn {
  display: inline-block;
  background-color: rgb(171, 37, 212);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  margin: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
