{% extends './base.html' %}

{% block title %}Rentas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/rentsList.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('admin.projectionsResults') }}" class="btn">Atrás</a>

<h1>Resultados de Pérdidas</h1>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <select name="month">
        {% for month in months %}
        <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Mostrar">
</form>

<h2>
    {{ mensaje_perdida }}
</h2>

<div>
    {{ graph_html_perdidas | safe }}
</div>

{% endblock %}