{% extends './base.html' %}

{% block title %}Resultados del mes seleccionado{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/rentsList.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('admin.generateTimeGraphs') }}" class="btn">Atrás</a>

<h1>Resultados de Ganancias de meses específicos</h1>

{# <a href="#" class="btn">Comparar con proyecciones de ganancias</a> #}

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <select name="month">
        {% for month in months %}
            <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Mostrar">
</form>

<h2>Ganancias Totales brutas: ${{ ganancias_totales_mes }}</h2>

<div>
    {{ graph_html_ganancias | safe }}
</div>

{% endblock %}