{% extends './base.html' %}

{% block title %}Rentas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/rentsList.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('admin.projectionsResults') }}" class="btn">Atrás</a>

<h1>Regresión de proyecciones de resultados</h1>

<!-- Mostrar la gráfica de proyección -->
<div>
    {{ graph_html_projection | safe }}
</div>

{% endblock %}
