{% extends './base.html' %}

{% block title %}Rentabilidad{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration/listEmp.css')}}">
{% endblock %}

{% block body %}
<a href="{{ url_for('admin.projectionsResults') }}" class="btn">Atrás</a>

<h1>Rentabilidad de la Empresa</h1>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="month">Selecciona un mes:</label>
    <select name="month" id="month">
        {% for month in months %}
        <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Calcular">
</form>

{% if graph_html_rentabilidad %}
<div>
    {{ graph_html_rentabilidad | safe }}
</div>

<div class="container">
    <p>Resultado del mes: ${{ rentabilidad_mes | default("No se ha seleccionado un mes") }}</p>

    {# <p>
        Rentabilidad del mes:
        {% if rentabilidad_mes is not none %}
        {% if rentabilidad_mes > 0 %}
        ${{ rentabilidad_mes|float|round(2) }} (Incremento)
        {% elif rentabilidad_mes < 0 %}
        ${{ rentabilidad_mes|float|round(2)|abs }} (Decremento)
        {% else %}
        $0 (Sin cambios)
        {% endif %}
        {% else %}
        No se ha seleccionado un mes
        {% endif %}
    </p> #}

    {% if porcentaje_cambio is not none %}
    <p>
        {% if porcentaje_cambio > 0 %}
        Hubo un incremento del: {{ porcentaje_cambio|float|round(2) }}%
        {% elif porcentaje_cambio < 0 %}
        Hubo un decremento del: {{ porcentaje_cambio|float|round(2)|abs }}%
        {% else %}
        Sin cambios
        {% endif %}
        comparando el mes {{ nombre_mes }} {{ year_selected }}
        (seleccionado) con el mes {{ nombre_mes_anterior }} {{ year_anterior }} (anterior).
    </p>
    {% endif %}
</div>
{% endif %}
{% endblock %}
