{% extends './base.html' %}

{% block title %}Seleccion de resultados{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration/listEmp.css')}}">

{% endblock %}

{% block body %}
<a href="{{ url_for('administrationindex') }}" class="btn">Atrás</a>

<div class="container">
    <h1>Ganancias</h1>

    <div class="button-section">
        <a href="{{ url_for('admin.generateTimeGraphs') }}">
            <button class="inline-button">
                Resultados
            </button>
        </a>

        <a href="{{ url_for('admin.profitsProjections') }}">
            <button class="inline-button">
                Proyecciones
            </button>
        </a>
    </div>
</div>

<div class="container">
    <h1>Pérdidas</h1>

    <div class="button-section">
        <a href="{{ url_for('admin.lossResults') }}">
            <button class="inline-button">
                Resultados
            </button>
        </a>

        <a href="{{ url_for('admin.lossProjections') }}">
            <button class="inline-button">
                Proyecciones
            </button>
        </a>
    </div>
</div>

<div class="container">
    <h1>Rentabilidad</h1>

    <div class="button-section">
        <a href="{{ url_for('admin.profitabilityResults') }}">
            <button class="inline-button">
                Resultados  
            </button>
        </a>

        <a href="{{ url_for('admin.profitabilityProjections') }}">
            <button class="inline-button">
                Proyecciones
            </button>
        </a>
    </div>
</div>

<style>
    .inline-button {
        display: inline-block;
        margin: 0 30px; /* Ajusta el espacio horizontal entre botones según sea necesario */
        padding: 10px 20px; /* Ajusta el espaciado interior según sea necesario */
    }

    .button-section {
        text-align: center;
        margin-top: 20px; /* Ajusta el espacio entre las secciones de botones según sea necesario */
    }

    h1 {
        color: black;
    }
</style>

{% endblock %}